---
import Layout from '../../layouts/Layout.astro';
import EventGuestForm from '../../components/EventGuestForm';

const { public_token } = Astro.params;

if (!public_token) {
  return Astro.redirect('/');
}
---

<Layout title="Event Invitation">
  <main class="min-h-screen py-8 sm:py-12 px-4 sm:px-6 lg:px-8 bg-paper">
    <div class="max-w-3xl mx-auto">
      <EventGuestForm client:load publicToken={public_token} />
    </div>
  </main>
</Layout>
