---
import Layout from '../../../../src/layouts/Layout.astro';
import EventResultView from '../../../../src/components/EventResultView';

export const prerender = false; // Mark as non-prerenderable since data is dynamic

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}
---

<Layout title={`Event Results - ${id}`}>
  <main class="min-h-screen py-8 sm:py-12 px-4 sm:px-6 lg:px-8 bg-paper">
    <div class="max-w-3xl mx-auto">
      <EventResultView client:load eventId={id} />
    </div>
  </main>
</Layout>
